.container{
    display: flex;
    justify-content: space-between;
    
    .container-candidate{
        font-size: 1rem;
        line-height: 0.5rem;
        margin: 1rem 0.2rem;
        width: 18rem;
        height: 6rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 0.1rem 0rem;
        background-color: #f8f9fa;

        &:hover{
            cursor: pointer;
            transform: translate(0.2rem, 0.1rem);
            transition: 0.2s ease;
            background-color: rgba(206, 212, 218, 0.5);
        }

        h2{
            font-size: 1.1rem;
            line-height: 0.2rem;
        }

        p{
            line-height: 0.6rem;
        }
    }
}